<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd">


	<task:annotation-driven/>
    <context:annotation-config />

    <!-- 只扫描controller，使用路径通配符 -->
    <context:component-scan base-package="com.rmc.otc.**.controller">
        <context:include-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" 
        	expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    
	<!-- 加载配置属性文件！  -->
	<context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>

    <mvc:annotation-driven />
    <!-- 使用 Swagger Restful API文档时，添加此注解 -->  
	<mvc:resources mapping="/swagger-ui.html" location="classpath:/META-INF/resources/" />
	<mvc:resources mapping="/webjars/*" location="classpath:/META-INF/resources/webjars/" />
	
	
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
    	<property name="messageConverters">
    		<list>
    			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    				<property name="supportedMediaTypes">
    					<list>
    						<value>text/html;charset=UTF-8</value>
    						<value>application/json;charset=UTF-8</value>
    					</list>
    				</property>
    			</bean>
    		</list>
    	</property>
    </bean>
    
    <!-- 设置文件上传, 文件编码为utf-8,上传文件的最大尺寸为10MB -->
    <bean id="multipartResolver" 
            class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
        <property name="defaultEncoding" value="UTF-8"/>          
        <property name="maxUploadSize" value="10485760" />  
    </bean> 
    <!--
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>
	  -->
</beans>